* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");

:root {
   --primary-color: hsl(14, 100%, 57%);
   --primary-dark: hsl(14, 100%, 38%);
   --secundary-color: hsl(156, 80%, 66%);
   --primaty-light: hsl(13, 100%, 89%);

   --off-white: hsl(0, 0%, 96%);
   --dark-grey: hsl(60, 2%, 27%);
   --off-black: hsl(0, 0%, 8%);

   --shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

   font-size: 62.5%;

   --nav-height: 6rem;
}

html {
   scroll-behavior: smooth;
}

html,
body {
   width: 100%;
   height: 100%;
}

body {
   font-family: "Signika", sans-serif;
   font-size: 1.6rem;
   text-align: center;

   background-color: var(--off-white);

   overflow: overlay;
}

.container {
   width: min(192rem, 100%);
   margin-inline: auto;
   padding-inline: 20rem;
}

ul {
   list-style: none;
}

li {
   font-size: 2rem;
}

a {
   font-size: 2rem;
   font-weight: 600;
   color: var(--off-black);
   text-decoration: none;

   transition: color 300ms;
}

nav a:hover {
   color: var(--primary-color);
}

.button {
   width: fit-content;
   height: 5rem;
   padding-inline: 3rem;
   margin-inline: auto;

   color: white;
   background-color: var(--primary-color);

   display: flex;
   align-items: center;

   font-weight: 600;
   font-size: 2.4rem;

   border-radius: 1rem;

   transition: background 300ms;
}

.button:hover {
   background-color: var(--primary-dark);
}

p {
   font-size: 2rem;
   font-weight: 300;
}

h1 {
   font-size: 3.6rem;
   line-height: 4.4rem;
   font-weight: 700;
   text-shadow: var(--shadow);
   color: var(--primary-color);
   margin-bottom: 2rem;
}

h2 {
   font-size: 3rem;
   line-height: 3.2rem;
   font-weight: 700;
   color: var(--primary-color);
   text-shadow: var(--shadow);
}

h3 {
   font-size: 2.4rem;
   line-height: 2.7rem;
   font-weight: 600;
   text-shadow: var(--shadow);
}

h4 {
   font-size: 2rem;
   font-weight: 400;
   text-shadow: var(--shadow);
}

label {
   font-size: 2rem;
   line-height: 2.4rem;
   font-weight: 300;
}

img {
   max-height: 100%;
}

svg {
   max-height: 100%;
}

select,
input {
   width: 30rem;
   height: 5rem;
   border-radius: 1rem;
   padding-inline: 1rem;

   border: none;

   color: var(--off-black);
   box-shadow: var(--shadow);
   background-color: var(--off-white);

   font-family: "Signika", sans-serif;
   font-weight: 300;
   font-size: 2rem;
}

.line {
   display: flex;

   width: 90%;
   height: 0.2rem;

   background-color: var(--off-white);
}

/*----------------NAVIGATION-----------------*/

nav {
   width: 100vw;
   height: 7rem;
   background-color: white;

   display: flex;

   position: fixed;
   z-index: 100;
   top: 0;
}

nav a.button {
   width: fit-content;
   height: 5rem;
   padding-inline: 3rem;

   color: white;
   background-color: var(--primary-color);

   font-size: 2rem;
}

nav .logo svg {
   width: fit-content;
   padding-block: 0.5rem;
}

nav ul.navOptions a {
   height: 6rem;

   display: flex;
   align-items: center;
}

nav .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: nowrap;
}

nav .navOptions {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   gap: 1rem;
}

nav .navPerfil {
   height: 3.5rem;
}

nav .logo {
   height: 5rem;
}

nav .menu {
   display: none;
}

nav .menuon {
   width: 20rem;
   height: fit-content;
   padding: 1rem;
   margin-right: 20rem;
   top: var(--nav-height);

   display: flex;
   flex-direction: column;
   gap: 0.5rem;

   position: fixed;
   right: 0;
   z-index: 100;

   background-color: white;
   box-shadow: var(--shadow);

   text-align: left;
}

nav .menu a {
   font-weight: 400;
}

/*----------------HOME-----------------*/
#home {
   height: 100vh;
   padding-top: calc(20rem + var(--nav-height));

   background-image: url(../assets/background.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

#home h1,
#home h3 {
   color: white;
}

#home .filter {
   width: 70rem;
   height: 20rem;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2rem;

   background-color: rgba(255, 255, 255, 0.8);
   border-radius: 2rem;
}

#home .selectFilter {
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 2rem;
}

#home .content {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   gap: 3rem;
}

#home .select {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

#home label {
   font-weight: 400;
}

/*----------------ABOUT-----------------*/

#about {
   display: inline-block;
   padding-block: 6rem;

   background-color: white;
}

#about .content {
   display: flex;
   flex-direction: column;
   align-items: center;

   gap: 3rem;
}

#about .aboutme {
   width: 100%;
   height: 50rem;

   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 6rem;
}

.aboutme div {
   width: 35%;

   text-align: left;

   display: flex;
   flex-direction: column;
   gap: 1.6rem;
}

.aboutme img {
   max-width: 30%;
   height: fit-content;
}

/*----------------BENEFITS-----------------*/

#benefits {
   width: 100%;
   display: inline-block;

   padding-block: 6rem;
}

#benefits .content {
   display: flex;
   flex-direction: column;
   align-items: center;

   gap: 3rem;
}

#benefits .profits {
   display: flex;
   gap: 6rem;
}

#benefits .profit {
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   padding: 1rem;

   text-align: left;
}

/*----------------MY PROFILE-----------------*/

#myProfile {
   padding-top: calc(3rem + var(--nav-height));
   padding-bottom: 10rem;
}

#myPorfile .container {
   display: flex;
   align-items: center;
}

#myProfile header {
   margin-bottom: 3rem;
}

#myProfile .content {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   gap: 3rem;
}

#myProfile .profile,
#myProfile .schedules {
   width: 100%;
   height: 25rem;
   padding-inline: 10rem;
   padding-block: 5rem;
   border-radius: 2rem;

   background-color: white;
   box-shadow: var(--shadow);

   display: flex;
   justify-content: space-between;
}

#myProfile .schedules {
   height: fit-content;

   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 2rem;
}

#myProfile .schedules ul {
   width: 100%;

   display: flex;
   flex-direction: column;
   gap: 2rem;
}

#myProfile .schedules .schedule {
   width: 100%;
   height: fit-content;
   padding: 2rem;

   background-color: white;
   box-shadow: var(--shadow);

   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

#myProfile .profile {
   font-size: 2rem;
   text-align: left;
}

.profile .self {
   display: flex;
   gap: 2rem;
}

.profile .self div {
   padding-block: 2rem;
}

#myProfile .calender {
   width: 100%;
   height: 80rem;
   border-radius: 2rem;

   box-shadow: var(--shadow);
   background-color: white;

   display: flex;
}

.calender .daySchedules {
   width: 25%;
   height: 100%;
   padding-inline: 3rem;
   padding-block: 2rem;
   border-radius: 2rem 0 0 2rem;

   font-size: 2rem;
   text-align: left;
}

.daySchedules h2 {
   color: var(--primary-color);
   text-align: center;
   margin-bottom: 3rem;
}

.calender .month {
   width: 75%;
   height: 100%;

   display: grid;
   grid: repeat(7, auto) / auto-flow auto;
}

.day,
.dayoff,
.week,
.today {
   font-size: 2rem;
   font-weight: 300;

   display: flex;
   align-items: center;
   justify-content: center;
}

.month .today {
   font-weight: 700;
   color: var(--primary-color);

   border: 0.1rem solid var(--off-white);
}

.month .day,
.month .week {
   border: 0.1rem solid var(--off-white);
}

.month .dayoff {
   color: white;

   border: 0.1rem solid var(--off-white);
}

/*----------------FOOTER-----------------*/

footer {
   height: 30rem;
   background-color: var(--dark-grey);
}

/*----------------SERACH/SCHEDULE-----------------*/
#professionalschedule {
   padding-top: calc(3rem + var(--nav-height));
   height: fit-content;
}

#professionals {
   padding-top: calc(3rem + var(--nav-height));
   height: 100vh;

   display: flex;
}

#professionalschedule h2,
#professionalschedule p,
#professionals h2,
#professionals p {
   color: var(--dark-grey);
}

#professionals .content {
   display: flex;
   justify-content: center;
}

#professionalschedule .content {
   display: flex;
   flex-direction: column;
   align-items: center;

   height: fit-content;
}

#professionalschedule .formSchedule {
   width: 80%;
   height: fit-content;

   margin-block: 3rem;

   display: flex;
   gap: 6rem;
}

#professionalschedule .scheduleok h2 {
   color: var(--primary-color);
}

.scheduleok {
   padding: 3rem;
   width: 50%;
}

.scheduleok img {
   width: 100%;
}

#professionalschedule form {
   width: 50%;

   text-align: left;
   padding: 3rem;
   background-color: white;
   box-shadow: var(--shadow);
}

#professionalschedule form label {
   display: flex;
   flex-direction: column;
   color: var(--off-black);
}

#professionalschedule .professional,
#professionals .professional {
   width: 80%;
   height: 20rem;
   padding: 3rem;

   border-radius: 2rem;

   background-color: white;
   box-shadow: var(--shadow);

   display: flex;
   justify-content: space-between;
}

.professional .proProfile {
   text-align: left;

   display: flex;
   gap: 2rem;
}

.professional .options {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: space-between;
}

#professionalschedule .options svg,
#professionals .options svg {
   width: 4rem;
   height: 4rem;
}

nav .navOptions svg path,
#professionalschedule .options svg path,
#professionals .options svg path {
   fill: var(--dark-grey);

   transition: fill 200ms;
}

nav .navOptions svg:hover path,
#professionalschedule .options svg:hover path,
#professionals .options svg:hover path {
   fill: #ff5722;
}

#professionalschedule .assessments,
#professionals .assessments {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 1rem;
}

.formSchedule form {
   height: fit-content;
   border-radius: 2rem;

   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.formSchedule form a.button {
   margin-inline: auto;
}

.formSchedule form div {
   display: flex;
   gap: 2rem;
}

.formSchedule form div input {
   width: 100%;
}

.formSchedule input,
.formSchedule select {
   width: 90%;
   color: var(--dark-grey);
   box-shadow: none;
}

/*----------------CREATEACCOUNT/LOGIN-----------------*/

#myAcc,
#createAccPro,
#recoverPassword,
#login,
#createAccount {
   padding-top: calc(6rem + var(--nav-height));
   height: 130vh;
}

#createAccPro .content,
#login .content,
#createAccount .content {
   display: flex;
   gap: 6rem;
}

#createAccPro .content,
#login .content {
   justify-content: center;
}

#createAccPro .content form,
#createAccPro form label,
#createAccPro .content div,
#login .content form,
#login form label,
#login .content div,
#createAccount form label,
#createAccount .content form,
#createAccount .content div:nth-child(2) {
   display: flex;
   flex-direction: column;
   gap: 1rem;

   background-color: white;
}

#createAccount .content div:nth-child(1),
#createAccount .content div:nth-child(2) {
   width: 45%;
   height: 75rem;
   padding-block: 3rem;
}

#createAccPro .content div:nth-child(1),
#login .content div:nth-child(1) {
   width: 45%;
   height: fit-content;
   padding-block: 6rem;
}

#createAccPro .content div:nth-child(1),
#login .content div:nth-child(1),
#createAccount .content div:nth-child(2) {
   gap: 2rem;
   border-radius: 2rem;
   box-shadow: var(--shadow);
}

#createAccount .content div:nth-child(1) img {
   height: 70%;
}

#createAccPro .content form,
#login .content form,
#createAccount .content form {
   align-items: center;
}

#createAccount .content div:nth-child(1) ul li {
   font-size: 2rem;
   font-weight: 300;
   padding-left: 6rem;
}

#createAccPro form label,
#login form label,
#createAccount .content div:nth-child(1) ul,
#createAccount form label {
   text-align: left;
   font-weight: 300;
}

#createAccount form p {
   margin-top: 1.5rem;
   font-size: 1.4rem;
   font-weight: 400;
   color: var(--primary-color);
   width: 50%;
}

#createAccPro form label input,
#login form label input,
#createAccount form label input {
   width: 35rem;
   padding-inline: 1rem;

   color: var(--off-black);

   box-shadow: none;
}

#login .content div div.line,
#createAccount .content div:nth-child(2) div.line {
   display: flex;

   margin-inline: auto;

   width: 50%;
   height: 0.2rem;

   background-color: var(--off-white);
}

#myAcc .accOptions div.line {
   width: 100%;
   height: 0.2rem;

   display: flex;

   background-color: var(--off-white);
}

#login .buttonGoogle,
#createAccount .buttonGoogle {
   width: 35rem;
   height: 5rem;
   padding-inline: 1rem;
   margin-inline: auto;

   display: flex;
   align-items: center;
   gap: 1rem;

   font-size: 2rem;
   font-weight: 300;

   border: 2px solid var(--off-white);
   border-radius: 1rem;
}

#login .buttonGoogle svg,
#createAccount .buttonGoogle svg {
   width: 3rem;
}

#createAccPro .button,
#createAccount .button,
#login .button {
   width: 20rem;
   justify-content: center;
}

#createAccPro .button,
#login .button {
   margin-top: 4rem;
}

#createAccPro header h1,
#recoverPassword h1,
#login .content h1 {
   margin-bottom: 3rem;
}

#recoverPassword .button {
   margin-top: 3rem;
}

#recoverPassword p {
   font-weight: 300;
   font-size: 1.6rem;
}

#myAcc .accOptions {
   width: 45%;
   height: fit-content;
   border-radius: 2rem;
   margin-inline: auto;

   background-color: white;
}

#myAcc .accOptions .option {
   text-align: left;
   padding: 2rem;
}

#myAcc .accOptions a h3 {
   font-weight: 500;
   color: var(--dark-grey);
   transition: color 300ms;
}

#myAcc .accOptions a:hover h3 {
   color: var(--primary-color);
}
