* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");

:root {
   --primary-color: hsl(14, 100%, 57%);
   --primary-dark: hsl(14, 100%, 38%);
   --secundary-color: hsl(156, 80%, 66%);
   --primaty-light: hsl(13, 100%, 89%);

   --off-white: hsl(0, 0%, 96%);
   --dark-grey: hsl(60, 2%, 27%);

   --shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

   font-size: 62.5%;

   --nav-height: 6rem;
}

html {
   scroll-behavior: smooth;
}

html,
body {
   width: 100%;
   height: 100%;
}

body {
   font-family: "Signika", sans-serif;
   font-size: 1.6rem;
   text-align: center;

   background-color: var(--off-white);

   overflow: overlay;
}

.container {
   width: min(192rem, 100%);
   margin-inline: auto;
   padding-inline: 20rem;
}

ul {
   list-style: none;
}

li {
   font-size: 2rem;
}

a {
   font-size: 2.4rem;
   color: black;
   text-decoration: none;
}

.button {
   width: 25rem;
   height: 5rem;
   padding: 1rem;
   margin-inline: auto;

   color: white;
   background-color: var(--primary-color);

   display: flex;
   justify-content: center;

   font-weight: 600;
   font-size: 2.4rem;

   border-radius: 1rem;

   transition: background 0.2s;
}

.button:hover {
   background-color: var(--primary-dark);
}

p {
   font-size: 2rem;
}

h1 {
   font-size: 3.6rem;
   line-height: 4.4rem;
   font-weight: 700;
   text-shadow: var(--shadow);
   color: var(--primary-color);
   margin-bottom: 2rem;
}

h2 {
   font-size: 3rem;
   line-height: 3.2rem;
   font-weight: 700;
   color: var(--primary-color);
   text-shadow: var(--shadow);
}

h3 {
   font-size: 2.4rem;
   line-height: 2.7rem;
   font-weight: 600;
   text-shadow: var(--shadow);
}

h4 {
   font-size: 2rem;
   font-weight: 400;
   text-shadow: var(--shadow);
}

label {
   font-size: 2rem;
   line-height: 2.4rem;
   font-weight: 600;
}

img {
   max-height: 100%;
}

svg {
   max-height: 100%;
}

select,
input {
   width: 30rem;
   height: 5rem;
   border-radius: 1rem;

   border: none;

   color: var(--primary-color);
   box-shadow: var(--shadow);
   background-color: var(--off-white);

   font-family: "Signika", sans-serif;
   font-weight: 300;
   font-size: 2rem;
}

/*----------------NAVIGATION-----------------*/

nav {
   width: 100vw;
   height: 7rem;
   background-color: white;

   display: flex;

   position: fixed;
   z-index: 100;
   top: 0;
}

nav a.button {
   width: 20rem;
   height: 5rem;

   color: white;
   background-color: var(--primary-color);

   font-size: 2rem;
}

nav .logo svg {
   width: fit-content;
   padding-block: 0.5rem;
}

.navOptions a {
   height: 6rem;

   display: flex;
   align-items: center;
}

nav .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: nowrap;
}

nav .navOptions {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   gap: 1rem;
}

nav .navPerfil {
   height: 3.5rem;
}

nav .logo {
   height: 5rem;
}

/*----------------HOME-----------------*/
#home {
   height: 100vh;
   padding-top: calc(20rem + var(--nav-height));

   background-image: url(../assets/background.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

#home h1,
#home h3 {
   color: white;
}

#home .filter {
   width: 70rem;
   height: 20rem;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1rem;

   background-color: rgba(255, 255, 255, 0.8);
   border-radius: 2rem;
}

#home .selectFilter {
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 2rem;
}

#home .content {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   gap: 3rem;
}

#home .select {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

/*----------------ABOUT-----------------*/

#about {
   display: inline-block;
   padding-block: 6rem;

   background-color: white;
}

#about .content {
   display: flex;
   flex-direction: column;
   align-items: center;

   gap: 3rem;
}

#about .aboutme {
   width: 100%;
   height: 50rem;

   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 6rem;
}

.aboutme div {
   width: 35%;

   text-align: left;

   display: flex;
   flex-direction: column;
   gap: 1.6rem;
}

.aboutme img {
   max-width: 30%;
   height: fit-content;
}

/*----------------BENEFITS-----------------*/

#benefits {
   width: 100%;
   display: inline-block;

   padding-block: 6rem;
}

#benefits .content {
   display: flex;
   flex-direction: column;
   align-items: center;

   gap: 3rem;
}

#benefits .profits {
   display: flex;
   gap: 6rem;
}

#benefits .profit {
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   padding: 1rem;

   text-align: left;
}

/*----------------MY PROFILE-----------------*/

#myProfile {
   padding-top: calc(3rem + var(--nav-height));
   padding-bottom: 10rem;
}

#myPorfile .container {
   display: flex;
   align-items: center;
}

#myProfile header {
   margin-bottom: 3rem;
}

#myProfile .content {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   gap: 3rem;
}

#myProfile .profile,
#myProfile .schedules {
   width: 100%;
   height: 25rem;
   padding-inline: 10rem;
   padding-block: 5rem;

   background-color: white;
   box-shadow: var(--shadow);

   display: flex;
   justify-content: space-between;
}

#myProfile .profile {
   font-size: 2rem;
   text-align: left;
}

.profile .self {
   display: flex;
   gap: 2rem;
}

.profile .self div {
   padding-block: 2rem;
}

#myProfile .calender {
   width: 100%;
   height: 80rem;
   box-shadow: var(--shadow);

   display: flex;
}

.calender .daySchedules {
   width: 25%;
   height: 100%;
   padding-inline: 3rem;
   padding-block: 2rem;

   background-color: white;

   font-size: 2rem;
   text-align: left;
}

.daySchedules h2 {
   color: var(--primary-color);
   text-align: center;
   margin-bottom: 3rem;
}

.calender .month {
   width: 75%;
   height: 100%;

   display: grid;
   grid: repeat(7, auto) / auto-flow auto;
}

.day,
.dayoff,
.week,
.today {
   font-size: 2rem;
   font-weight: 300;

   display: flex;
   align-items: center;
   justify-content: center;
}

.month .today {
   font-weight: 700;
   color: var(--primary-color);
   background-color: white;
   border: 0.1rem solid var(--off-white);
}

.month .day,
.month .week {
   background-color: white;
   border: 0.1rem solid var(--off-white);
}

.month .dayoff {
   color: white;
   background-color: white;
   border: 0.1rem solid var(--off-white);
}

/*----------------FOOTER-----------------*/

footer {
   height: 35rem;
   background-color: var(--dark-grey);
}

/*----------------SERACH/SCHEDULE-----------------*/
#professionalschedule {
   padding-top: calc(3rem + var(--nav-height));
   height: fit-content;
}
#professionals {
   padding-top: calc(3rem + var(--nav-height));
   height: 100vh;

   display: flex;
}

#professionalschedule h2,
#professionalschedule p,
#professionals h2,
#professionals p {
   color: var(--dark-grey);
}

#professionals .content {
   display: flex;
   justify-content: center;
}

#professionalschedule .content {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#professionalschedule .formSchedule {
   width: 80%;
   height: 80rem;

   margin-block: 3rem;

   display: flex;
}

#professionalschedule .scheduleok h2 {
   color: var(--primary-color);
}

.scheduleok {
   width: 60%;
}

.scheduleok img {
   width: 100%;
   height: fit-content;
}

#professionalschedule form {
   width: 40%;

   text-align: left;
   padding: 3rem;
   background-color: white;
   box-shadow: var(--shadow);
}

#professionalschedule form label {
   display: flex;
   flex-direction: column;
   color: var(--dark-grey);
}

#professionalschedule .professional,
#professionals .professional {
   width: 80%;
   height: 20rem;
   padding: 3rem;

   background-color: white;
   box-shadow: var(--shadow);

   display: flex;
   justify-content: space-between;
}

.professional .proProfile {
   text-align: left;

   display: flex;
   gap: 2rem;
}

.professional .options {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: space-between;
}

#professionalschedule .options svg,
#professionals .options svg {
   width: 4rem;
   height: 4rem;
}

#professionalschedule .options svg path,
#professionals .options svg path {
   fill: var(--dark-grey);
}

#professionalschedule .options svg:hover path,
#professionals .options svg:hover path {
   fill: #ff5722;
}

#professionalschedule .assessments,
#professionals .assessments {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 1rem;
}

.formSchedule form {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.formSchedule form h3 {
   color: var(--dark-grey);
}

.formSchedule form div {
   display: flex;
   gap: 2rem;
}

.formSchedule form div input {
   width: 20rem;
}

.formSchedule input,
.formSchedule select {
   width: 42rem;
   color: var(--dark-grey);
   box-shadow: none;
}

/*----------------CREATEACCOUNT/LOGIN-----------------*/
#createAccount {
   padding-top: calc(3rem + var(--nav-height));
   height: 100vh;
}
