* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");

:root {
   --primary-color: #ff5722;
   --secundary-color: #65eeb7;
   --primaty-light: #ffd2c5;

   --off-white: #f4f4f4;
   --dark-grey: #474744;

   --shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

   font-size: 62.5%;

   --nav-height: 6rem;
}

html,
body {
   width: 100%;
   height: 100%;
}

body {
   font-family: "Signika", sans-serif;
   font-size: 1.6rem;
   text-align: center;

   background-color: var(--off-white);

   overflow: overlay;
}

.container {
   width: 192rem;
   margin-inline: auto;
   padding-inline: 20rem;
}

ul {
   list-style: none;
}

a {
   font-size: 2rem;
   color: black;
   text-decoration: none;
}

a:hover {
   color: var(--primary-color);
}

.button {
   width: 30rem;
   height: 5rem;
   padding: 1rem;
   margin-inline: auto;

   display: flex;
   justify-content: center;

   background-color: white;

   border-radius: 1rem;
}

h1 {
   font-size: 4rem;
   color: var(--primary-color);
}

h4 {
   font-size: 2rem;
   font-weight: 400;
}

img {
   max-height: 100%;
}

/*----------------NAVIGATION-----------------*/

nav {
   width: 100vw;
   height: 6rem;
   background-color: white;

   display: flex;

   position: fixed;
   z-index: 100;
   top: 0;
}

nav .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: nowrap;
}

nav .navOptions {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   gap: 1rem;
}

.select {
   font-weight: 600;
   color: var(--primary-color);
}

nav .navPerfil {
   height: 3.5rem;
}

nav .logo {
   height: 5rem;
}

/*----------------MY PROFILE-----------------*/

#myProfile {
   padding-top: calc(3rem + var(--nav-height));
   padding-bottom: 10rem;
}

#myPorfile .container {
   display: flex;
   align-items: center;
}

#myProfile header {
   margin-bottom: 3rem;
}

#myProfile .content {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   gap: 3rem;
}

#myProfile .profile {
   width: 150rem;
   height: 25rem;
   padding-inline: 10rem;
   padding-block: 5rem;

   background-color: white;
   box-shadow: var(--shadow);

   font-size: 2rem;
   text-align: left;

   display: flex;
   justify-content: space-between;
}

#myProfile .schedules {
   width: 150rem;
   height: 25rem;
   padding-inline: 10rem;
   padding-block: 5rem;

   background-color: white;
   box-shadow: var(--shadow);

   display: flex;
   justify-content: space-between;
}

.profile .self {
   display: flex;
   gap: 2rem;
}

.profile .self div {
   padding-block: 2rem;
}

#myProfile .calender {
   height: 80rem;
   box-shadow: var(--shadow);

   display: flex;
}

.calender .daySchedules {
   width: 40rem;
   height: 100%;
   padding-inline: 3rem;
   padding-block: 2rem;

   background-color: white;

   font-size: 2rem;
   text-align: left;
}

.daySchedules h2 {
   color: var(--primary-color);
   text-align: center;
   margin-bottom: 3rem;
}

.calender .month {
   width: 110rem;
   height: 100%;

   /* background-color: var(--off-white); */

   display: grid;
   grid: repeat(7, auto) / auto-flow auto;
}

.day,
.dayoff,
.week,
.today {
   font-size: 2rem;
   font-weight: 300;

   display: flex;
   align-items: center;
   justify-content: center;
}

.month .today {
   font-weight: 700;
   color: var(--primary-color);
   background-color: white;
   border: 0.1rem solid var(--off-white);
}

.month .day,
.month .week {
   background-color: white;
   border: 0.1rem solid var(--off-white);
}

.month .dayoff {
   color: white;
   background-color: white;
   border: 0.1rem solid var(--off-white);
}
